extends ../../layouts/application

block content
  a(href='/admin/events/new') New Event

  - if ( typeof events != 'undefined' )
    - each event in events
      .event
        a(href="/admin/events/#{event._id}/edit") Edit #{event.name}
        a(href="/admin/events/#{event._id}/teams/new") Add a team to #{event.name}
        a(href="/admin/events/#{event._id}/teams/index") Show teams for #{event.name}
